<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.dao.PointsMapper">

    <resultMap id="pointsMap" type="com.dubbo.api.entity.Points">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="points" column="points"/>
        <result property="userLevel" column="user_level"/>
    </resultMap>

    <!-- 用户积分增加 -->
    <update id="addPoints" parameterType="com.dubbo.api.entity.Points">
         update user_point
        <set>
            <if test="points != null">points = points + #{points},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 用户积分扣减 -->
    <update id="reducePoints" parameterType="com.dubbo.api.entity.Points">
        update user_point
        <set>
            <if test="points != null">points = points - #{points},</if>
        </set>
        where id = #{id}
    </update>

</mapper>