<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.provider.dao.SchedulerMapper">

    <resultMap id="pointsMap" type="com.dubbo.api.entity.Points">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="points" column="points"/>
        <result property="userLevel" column="user_level"/>
    </resultMap>


    <!--  -->
    <select id="findSchedulers" parameterType="com.dubbo.api.entity.SchedulerQueryEntity" resultType="com.dubbo.api.entity.SchedulerEntity">
            SELECT
                t4.sched_name schedName,
                t4.job_name jobName,
                t4.job_group jobGroup,
                t4.job_desc jobDesc,
                t4.job_class_name jobClassName,
                t4.job_data jobData,
                t4.trigger_name triggerName,
                t4.trigger_group triggerGroup,
                t4.trigger_state triggerState,
                t4.trigger_desc triggerDesc,
                t4.trigger_type triggerType,
                t4.trigger_data triggerData,
                t3.cron_expression cronExpression
            FROM
                (
                SELECT
                    t1.sched_name,
                    t1.job_name,
                    t1.job_group,
                    t1.description AS job_desc,
                    t1.job_class_name,
                    t1.job_data,
                    t2.trigger_name,
                    t2.trigger_group,
                    t2.trigger_state,
                    t2.description AS trigger_desc,
                    t2.trigger_type,
                    t2.job_data AS trigger_data
                FROM
                    QRTZ_JOB_DETAILS t1
                    LEFT OUTER JOIN QRTZ_TRIGGERS t2 ON t1.sched_name = t2.sched_name
                    AND t1.job_name = t2.job_name
                    AND t1.job_group = t2.job_group
                ) t4
                LEFT OUTER JOIN QRTZ_CRON_TRIGGERS t3 ON t3.sched_name = t4.sched_name
                AND t3.trigger_name = t4.trigger_name
                AND t3.trigger_group = t4.trigger_group
                limit #{pageNum},#{pageSize}
    </select>

</mapper>